/* reset */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */
body {
    line-height: 1.5;
    overflow-x: hidden;
    font-family: "Open Sans", Arial, sans-serif;
}

/* utlis */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}