.menu-button.active .menu-line:first-child {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-button.active .menu-line:nth-child(2) {
    opacity: 0;
}

.menu-button.active .menu-line:last-child {
    transform: rotate(45deg) translate(-5px, -7px);
}

.nav-links.active {
    transform: translateX(0);
}

.nav-links {
    gap: 30px;
    list-style: none;
    flex-direction: column;
}

.nav-links li {
    letter-spacing: 3px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
}

.nav-link:hover {
    color: #11bd83;
}

nav {
    border: solid;
    border-width: 1px;
    background: #FFFFFF;
    border-color: black;
}

nav ul {
    padding: 10px;
    margin-block: 0;
}

.menu {
    width: 100%;
    justify-content: end;
}

.menu-line {
    width: 32px;
    height: 2px;
    margin: 8px;
    transition: 0.27s;
    background: #000000;
}

.hero {
    place-items: center;
}

.hero-image {
    margin: 0;
}

.hero-image img {
    border: solid;
    max-width: 250px;
    max-height: 300px;
    border-width: 1px;
    border-color: black;
}

.hero-content {
    padding-top: 25px;
    padding-inline: 25px;
}

.experience-list {
    gap: 30px;
    align-items: center;
    padding-inline: 25px;
    padding-bottom: 10px;
    justify-content: center;
}

.experience-card {
    border: solid;
    padding: 15px;
    max-width: 100%;
    border-width: 1px;
    border-color: black;
}

.experience-card-image {
    border: solid;
    max-width: 200px;
    max-height: 120px;
    border-width: 1px;
    border-color: black;
}

footer p {
    margin: 0;
    padding-block: 5px;
}

@media only screen and (max-width: 285px) {

    .hero-content,
    .experience-list {
        padding: unset;
    }

    .hero-image img,
    .experience-card-image {
        max-width: 100%;
    }
}

@media only screen and (min-width: 286px) {
    .experience-card {
        min-width: 200px;
        max-width: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .nav-links {
        width: 100%;
        right: 0 !important;
        padding-inline: 0 !important;
        align-items: center !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .nav-links {
        width: 45vw;
    }
}

@media only screen and (max-width: 768px) {
    .nav-links {
        top: 5.4vh;
        right: 10px;
        height: 94.6vh;
        position: absolute;
        align-items: flex-end;
        transform: translateX(120%);
        backdrop-filter: blur(10px);
        transition: transform 0.27s ease-in;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (min-width: 769px) {
    .nav-links {
        flex-direction: row;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .menu {
        display: none !important;
    }

    .hero {
        display: flex;
        align-items: center;
    }

    .hero-image {
        margin: 0;
        width: 50%;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content {
        padding: 25px;
    }

    .experiences {
        place-items: center;
    }

    .experience-list {
        align-items: center;
        padding-inline: 25px;
        justify-content: space-between;
    }
}